<ion-content>
  <ion-grid *ngIf="readyToDownload" class="image-grid-final">
    <ion-row>
      <ion-col>
        <img [src]="downloadSrc" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!readyToDownload" class="image-grid">
    <ion-row>
      <ion-col (click)=openeditprofile(0)>
        <div *ngIf="!photos[0]" class="item linkedin">
          <i class="fa fa-image fa-3x"></i>
          <ion-label>LinkedIn</ion-label>
        </div>
        <img *ngIf="photos[0]" [src]="photos[0]" />
      </ion-col>
      <ion-col (click)=openeditprofile(1)>
        <div *ngIf="!photos[1]" class="item facebook">
          <i class="fa fa-image fa-3x"></i>
          <ion-label>Facebook</ion-label>
        </div>
        <img *ngIf="photos[1]" [src]="photos[1]" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col (click)=openeditprofile(2)>
        <div *ngIf="!photos[2]" class="item instagram">
          <i class="fa fa-image fa-3x"></i>
          <ion-label>Instagram</ion-label>
        </div>
        <img *ngIf="photos[2]" [src]="photos[2]" />
      </ion-col>
      <ion-col (click)=openeditprofile(3)>
        <div *ngIf="!photos[3]" class="item tinder">
          <i class="fa fa-image fa-3x"></i>
          <ion-label>Tinder</ion-label>
        </div>
        <img *ngIf="photos[3]" [src]="photos[3]" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="botton-grid" *ngIf="!readyToDownload">
    <ion-row>
      <ion-col>
        <ion-button (click)=sendImagesToServer() color="danger"
          [attr.disabled]="!photos[0] || !photos[1] || !photos[2] || !photos[3]" expand="block">
          <i class="fa fa-upload fa-2x"></i>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="botton-grid" *ngIf="readyToDownload">
    <ion-row>
      <ion-col>
        <ion-button (click)="downloadFile()" color="warning" expand="block">
          <i class="fa fa-download fa-2x"></i>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="share(1)" color="tertiary" expand="block">
          <i class="fab fa-instagram fa-2x"></i>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="share(2)" color="secondary" expand="block">
          <i class="fab fa-whatsapp fa-2x"></i>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="share(3)" color="success" expand="block">
          <i class="fab fa-twitter fa-2x"></i>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="redo()" color="danger" expand="block">
          <i class="fas fa-redo-alt fa-2x"></i>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="developer-info">
    <ion-row>
      <ion-col class="ion-text-center pad-t">Instagram</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center"><a href="https://www.instagram.com/armin.moemeni/">@armin.moemeni</a></ion-col>
      <ion-col class="ion-text-center pad-b"><a href="https://www.instagram.com/mahmoodvand_ali/">@mahmoodvand_ali</a></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">GitHub : </ion-col>
      <ion-col class="ion-text-center"><a href="https://github.com/teanow/dolly-parton">teanow/dolly-parton</a></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>